<h1>Admin Dashboard</h1>

<h2>Current Trimester</h2>
<h3> <%= "#{@current_trimester.term} - #{@current_trimester.year}" %> </h3>
<ul>
  <% @current_trimester.courses.each do |course| %>
    <li><a href=""><%= course.coding_class.title %></li>
  <% end %>
</ul>

<h2>Upcoming Trimester</h2>
<h3> <%= "#{@upcoming_trimester.term} - #{@upcoming_trimester.year}" %> </h3>
<ul>
  <% @upcoming_trimester.courses.each do |course| %>
    <li><a href=""><%= course.coding_class.title %></li>
  <% end %>
</ul>

